@import "vars";

/* Default settings */
html{
    font-size: 15px;
}
body{
    margin: 0;
    padding: 0 1rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: $white;
    background: $white;
}
ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

/* Block style */
@import "blocks/container";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/latent";

/* Bootstrap */