.header{
    margin-top: 1rem;
    background-color: $dark_blue;    
}
.header__inner{
    display: flex;
    align-items: center;
    padding: .4rem 0;
    text-transform: uppercase;
}
.header__item{
    display: flex;
    max-width: 100%;
    & li {
        height: 90px;
    }
    & a {
        display: block;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 .5rem;
    }
}
.header__logo-icon{
    border: 1px solid $white;
    margin-top: 0.1rem;
}
.header__logo-text{
    width: 100%;
    font-size: .61rem;
    line-height: 1;
}
.header__title{
    margin-left: 0.5rem;
}
.header__more{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    &-link{
        color: $white;
        text-decoration: none;
        text-align: center;
        &-lang{
            color: $white;
            text-decoration: none;
            text-align: center;
            padding: .3rem .5rem;
            border: .5px solid $white;
            border-radius: 4px;
            text-transform: capitalize;
        }
    }
}
