.header{
    margin-top: 1rem;
    background-color: $dark_blue;    
}
.header__inner{
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.header__item{
    display: flex;
    & li {
        height: 80px;
    }
    & a {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 .5rem;
        &:hover {
            background-color: #2c495e;           
        }
    }
}
.header__logo-icon{
    border: 1px solid $white;
    margin-top: .4rem;
}
.header__logo-text{
    font-size: .61rem;
    line-height: 0;
}
.header__title{
    margin-left: .5rem;
    margin-right: 3rem;
}
.header__more{
    display: flex;
    margin-left: 3rem; 
    &-link{
        color: $white;
        text-decoration: none;
        text-align: center;
        margin: 0 .3rem;
        &-lang{
            display: flex;
            align-items: center;
            color: $white;
            text-decoration: none;
            padding: .3rem .5rem;
            border: .5px solid $white;
            border-radius: 4px;
            text-transform: capitalize;
        }
    }
}
.fas.fa-caret-down{
    margin-left: .3rem;
}
.fas.fa-lock {
    margin-left: .3rem;
}