.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 4rem;
}
.nav__link{
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}