<!DOCTYPE html>
<html lang="en">

<head>
    {{> head }}
</head>

{{> header }}

<body>
    {{> body }}
    <div class="latent" style="display: none;" id="latent">
        <div class="container">
            <div class="latent__inner">
                <div class="latent__item">
                    <h3 class="latent__title">Защита прав человека</h3>
                    <ul class="latent__list">
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Европейский суд по правам человека</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Исполнение постановлений Европейского суда по правам человека</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Межправительственное сотрудничество в области прав человека (CDDH)</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Эффективность системы Европейской конвенции о правах человека (ЕКПЧ) на национальном и европейском уровнях</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">HELP - Европейская программа обучения в области прав человека для представителей юридических профессий</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Реализация прав человека на национальном уровне</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Комитет Совета Европы по предупреждению пыток - ЕКПП</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Искусственный интеллект и права человека</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Онлайн-платформа по содействию безопасности журналистов</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Трастовый фонд "Права человека"</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Международная консультативная группа по Украине</a></li>
                    </ul>
                </div>
                <div class="latent__item">
                    <h3 class="latent__title">Продвижение прав человека</h3>
                    <ul class="latent__list">
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Комиссар по правам человека</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Свобода выражения мнений</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Руководящий комитет по вопросам СМИ и информационного общества - CDMSI</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Европейский комитет по вопросам социальной сплоченности, человеческого достоинства и равенства</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Гендерное равенство</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Борьба с насилием в отношении женщин и насилием в семье - ГРЕВИО</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Борьба с торговлей людьми - ГРЕТА</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Права лиц с ограниченными возможностями здоровья</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Расизм и нетерпимость - ЕКРН</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Рома-цыгане и другие кочевые группы населения</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Права мигрантов</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Национальные меньшинства - РКЗНМ</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Региональные языки и языки меньшинств</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Политика в области образования</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Права детей</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Cексуальная ориентация и гендерная идентичность - ЛГБТ</a></li>

                    </ul>
                </div>
                <div class="latent__item">
                    <h3 class="latent__title">Обеспечение социальных прав</h3>
                    <ul class="latent__list">
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Европейская социальная хартия</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Европейский кодекс социального обеспечения</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Европейская платформа в поддержку социальной сплоченности</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Здравоохранение</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Биоэтика</a></li>
                        <li class="latent__list-element"><a class="latent__list-element-link" href="">Европейская дирекция по контролю качества лекарственных средств и медицинских услуг - EDQM / Европейская фармакопея</a></li>
                    </ul>
                </div>
            </div><!-- /.latent__inner -->
        </div> <!-- /.container -->
    </div><!-- /.latent -->
</body>

</html>