<header class="header">
    <div class="container">

        <ul class="header__inner">

            <li>
                <ul>
                    <li class="header__logo-text">Council of Europe</li>
                    <li><img class="header__logo-icon" src="../../assets/img/header/logo.jpg" alt=""></li>
                    <li class="header__logo-text">Conseil de Europe</li>
                </ul>
            </li>

            <li class="header__item">
                <h3 class="header__title">Совет&nbsp;Европы</h3>
            </li>

            <li class="header__item">
                <ul class="nav">
                    <li><a class="nav__link" id="trigger" href="#">Права человека</a></li>
                    <li><a class="nav__link" id="trigger-2" href="#">Демократия</a></li>
                    <li><a class="nav__link" href="#">Верховенство права</a></li>
                </ul>
            </li>

            <li class="header__item">
                <ul class="header__more">
                    <li><a class="header__more-link" href="#">Еще <i class="fas fa-caret-down"></i></a></li>
                    <li><a class="header__more-link" href="#"> <span class="header__more-link-lang"> Русский <i class="fas fa-caret-down"></i> </span> </a></li>
                    <li><a class="header__more-link" href="#" style="text-transform: capitalize;">Connect <i class="fas fa-lock"></i></a></li>
                    <li><a class="header__more-link" href="#"><i class="fas fa-search"></i></a></li>
                </ul>
            </li>
            
        </ul><!-- /.header__inner -->
    </div> <!-- /.container -->
</header>