<header class="header">
    <div class="container">

        <ul class="header__inner">

            <ul>
                <li class="header__logo-text">Council of Europe</li>
                <li><img class="header__logo-icon" src="../../assets/img/header/logo.jpg" alt=""></li>
                <li class="header__logo-text">Conseil de Europe</li>
            </ul>

            <ul>
                <h3 class="header__title">Совет&nbsp;Европы</h3>
            </ul>

            <ul class="nav">
                <li><a class="nav__link" href="#">Права человека</a></li>
                <li><a class="nav__link" href="#">Демократия</a></li>
                <li><a class="nav__link" href="#">Верховенство права</a></li>
            </ul>

            <ul class="header__more">
                <li class="header__more-add"><a class="header__more-link" href="#">Еще <i class="fas fa-caret-down"></i></a></li>
                <li><a class="header__more-link-lang" href="#">Русский <i class="fas fa-caret-down"></i></a></li>
                <li><a class="header__more-link" href="#">Connect <i class="fas fa-lock"></i></a></li>
                <li class="header__more-search"><a class="header__more-link" href="#"><i class="fas fa-search"></i></a></li>
            </ul>

        </ul><!-- /.header__inner -->
    </div> <!-- /.container -->
</header>