<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <div class="header__logo-text">Council of Europe</div>
                <img class="header__logo-icon" src="../../assets/img/header/logo.jpg" alt="">
                <div class="header__logo-text">Conseil de Europe</div>
            </div>
            <h3 class="header__title">Совет&nbsp;Европы</h3>
            <nav class="nav">
                <a class="nav__link" href="#">Права человека</a>
                <a class="nav__link" href="#">Демократия</a>
                <a class="nav__link" href="#">Верховенство права</a>
            </nav>

            <div class="header__more">
                <a class="nav__link" href="#">Еще <i class="fas fa-caret-down"></i></a>
                <a class="nav__link" href="#">Русский <i class="fas fa-caret-down"></i></a>
                <a class="nav__link" href="#">Connect <i class="fas fa-lock"></i></a>
                <a class="nav__link" href="#"><i class="fas fa-search"></i></a>
            </div>
        </div>

    </div> <!-- ./container -->
</header>