<div class="news">
    <div class="container">
        <div class="news__inner">

            <div class="news__photo">
                <img class="news__img" src="../../assets/img/news/1.jpg" alt="">
            </div>
            <div class="content">
                <div class="news__title"><h3><a href="">Борьба с COVID-19: необходимо придерживаться ценностей и стандартов Совета Европы</a></h3></div>
                <div class="news__data">КОМИТЕТ МИНИСТРОВСТРАСБУРГ22 АПРЕЛЯ 2020 Г.</div>
                <div class="news__text">Давид Залкалиани, председатель Комитета министров Совета Европы и министр иностранных дел Грузии,...</div>
            </div>

        </div><!-- /.news__inner -->
    </div><!-- /.container -->
</div><!-- /.news -->